@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    width: 100vw;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 0 9%;
}

header .logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
}

header .logo img {
    width: 4rem;
    height: 4rem;
}

header .logo h1 {
    margin-left: 0.5rem;
}

.navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.navbar ul {
    display: flex;
    display: none;
}

.navbar ul li {
    margin: 0 0 0 2.5rem;
    list-style-type: none;
}

header .navbar ul li a {
    font-size: 1.57rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.navbar .icoans {
    display: flex;
}
.navbar .icoans .moon {
    /* display: none; */
    padding: 0 0 0 4rem;
}

.navbar .icoans .sun {
    display: none;
    padding: 0 0 0 4rem;
}

.navbar .icoans .menu {
    /* display: none; */
    padding: 0 0 0 4rem;
}

.navbar .icoans .cross {
    display: none;
    padding: 0 0 0 4rem;
}

section {
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
    border: 2px solid black;
}