@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    text-transform: capitalize;
    background-color: #ccf0fe;
}

ul li {
    list-style-type: none;
}

header {
    width: 100vw;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .logo img {
    width: 4rem;
    height: 4rem;
}

header .logo h1 {
    margin-left: 0.5rem;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 0 1.5rem;
}

header .navbar ul li a {
    font-size: 1.57rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.icoans {
    display: none;
}

/* .icoans .moon {
    display: none;
}

.icoans .sun {
    display: none;

} */

.icoans .menu {
    display: none;
    padding: 0;
}

.icoans .cross {
    display: none;

}

section {
    height: 100vh;
    padding: 2rem 9%;
    border: 2px solid black;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .left {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 2px solid black;
}

.left img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #ffcf40;
}

.home img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .right {
    z-index: 999;
    width: auto;
    height: auto;
    border: 2px solid black;
    /* overflow: hidden; */

}

.home .right h2 {
    font-size: 4.5rem;

}

.home .right p {
    font-size: 2.5rem;
    font-weight: 600;

}

.about-btn {
    margin: 3.5rem 0;
}

.btn {
    padding: 8px 30px;
    border: 2px solid black;
}

.home .right .social ul li {
    display: inline-block;
    /* margin-bottom: 14px; */

}

.home .right .social ul li a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff;
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 2rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
















@media (max-width: 980px) {
    html {
        font-size: 55%;
    }

    .icoans,
    .icoans .menu {
        display: block;
        z-index: 999;
    }

    .header {
        position: relative;
    }

    .navbar {
        width: 50vw;
        height: 100vh;
        background-color: cyan;
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 0 0 2.5rem 0;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .icoans .cross {
        display: block;
    }

    .active .icoans .menu {
        display: none;
    }

    .home {
        display: block;
    }

    .home .right h1 {
        font-size: 3.5rem;

    }

    .home .right p {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    /* .home {
        display: block;
    } */


    .home .right h1 {
        font-size: 3.5rem;
    }

    .home .right p {
        font-size: 2rem;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 45%;
    }

    .home {
        display: block;
    }

    .home .right h1 {
        font-size: 3.5rem;
    }

    .home .right p {
        font-size: 2rem;
    }
}