@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* text-transform: capitalize; */
    /* background-color: #f1f2f6; */
    /* background-color: #121e28; */
}

section {
    padding: 2rem 9%;
    /* border: 2px solid black; */
}

footer {
    padding: 0 9%;
    /* border: 2px solid black; */
    background-color: #05001f;
}

section h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2 i {
    margin-right: 1rem;
    /* color: #ffcf40; */
    font-size: 3rem;

}

ul li {
    list-style-type: none;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #ffffff;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.9;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .logo img {
    width: 4rem;
    height: 4rem;
}

header .logo h1 {
    margin-left: 1rem;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.navbar ul {
    display: flex;
    /* border: 2px solid black; */
}

.navbar ul li {
    margin: 0 1.5rem;
}


header .navbar ul li a {
    font-size: 1.57rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    padding: 0.5rem 0;
}

.navbar ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
    transition: all 0.1s ease-in-out;

}

.icoans {
    display: none;
}

/* .icoans .moon {
    display: none;
}

.icoans .sun {
    display: none;

} */

.icoans .menu {
    display: none;
    padding: 0;
}

.icoans .cross {
    display: none;

}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f2f6;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .left {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    /* border: 2px solid black; */
}

.home .left img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #FFE100;
}

.home img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .right {
    z-index: 999;
    width: auto;
    height: auto;
    /* border: 2px solid black; */
    /* overflow: hidden; */

}

.home .right h2 {
    font-size: 4.5rem;
    /* color: #fdfeff; */
}

.home .right p {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;

}

.home .right p .auto-type {
    color: #ff3838;
}

.about-btn {
    margin: 3.5rem 0;
}

.btn {
    /* margin-top: 1rem; */
    /* position: absolute; */
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
}

.btn span {
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.btn:hover {
    background: #1a047e;
}

.btn:hover i {
    transform: translateX(6px);
}


.home .right .social ul li {
    display: inline-block;
    /* margin-bottom: 14px; */
    /* border: 2px solid black; */
    /* align-items: center; */
}

.home .right .social ul li a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: #ffffff;
    background-color: #09011b;
    width: 4.4rem;
    height: 4.4rem;
    text-align: center;
    margin-right: 2rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* About section start */
.about-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* border: 2px solid black; */
}

.about-content .left {
    width: 50%;
}

.about-content .left h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-content .left p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
    margin-bottom: 2rem;
}

.about-content .left p span {
    color: #308aa9;
}

.about-content .right {
    width: 30%;
}

.about-content .right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.skills {
   background-color: #5505a9;
}
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding: 2rem;
    grid-gap:2rem;
    border-radius: 1rem;
    background-color: #33026d;
}

.parent .div1 {
    width: 100%;
    height: auto;
    background-color: #05001f;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 1.5rem;
}
.content{
    text-transform: capitalize;
}
.parent .div1:hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
}
.collage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}

.collage .collage1,
.collage2 {
    border-radius: 1.5rem;
    padding: 1rem;
    /* border: 2px solid black; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.collage .collage1 h3,
.collage2 h3 {
    /* border: 2px solid black; */
    font-size: 2.5rem;
}

.collage .collage1 p,
.collage2 p {
    /* border: 2px solid black; */
    font-size: 1.5rem;
}

.collage-img {
    width: 40rem;
    height: 25rem;
    /* border: 2px solid black; */

}

.collage-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* border: 2px solid black; */
}


.parent2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 1.5rem;


}


.parent2 .div1 {
    width: 100%;
    height: 30rem;
    flex: 1 1 30rem;
    border-radius: .5rem;
    box-shadow: 0 .7rem 1rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    height: 30rem;
    background: #fff;
    border: none;
}

.parent2 .div1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.parent2 .div1 .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
}

.parent2 .div1 .content .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    padding-left: 1rem;
    background: #ffd900;
}

.parent2 .div1 .content .tag h3 {
    font-size: 2rem;
}

.parent2 .div1:hover .content {
    top: 25%;
    transition: top 0.5s ease-in-out;
}

.desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc p {
    font-size: 1.5rem;
}

.desc .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.desc .btns .btn {
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(12, 12, 12);
    margin-right: 2rem;
}

.desc .btns .btn:hover {
    background: #310ae0f5;
}


.contect-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: yellow; */
    /* border: 2px solid black; */
}

.contect-content .left-img {
    width: 50%;
}

.contect-content .left-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.contect-content .right-form {
    width: 35%;
    text-align: center;
    /* border: 2px solid black; */
}

.contect-content .right-form form {
    display: block;
    padding: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

input,
textarea {
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem 1rem;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

input:focus {
    border: 2px solid #308aa9;
}

textarea:focus {
    border: 2px solid #308aa9;
}

.footerinfo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    text-transform: capitalize;
}

.footerinfo1 {
    width: 30%;
    height: auto;
    /* border: 2px solid black; */
}

.footerinfo .footerinfo1 h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin: 1.5rem 0;
}

.footerinfo .footerinfo1 p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFE100;
    padding-bottom: 3rem;
}

.footerinfo .footerinfo1 li {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFE100;
    padding-bottom: 1rem;
}

.footerinfo .footerinfo1 ul li i {
    padding-right: 1rem;
}
.footerinfo .footerinfo1 ul li a {
    color: #FFE100;
    text-decoration: none;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #FFE100;
    margin: 1.5rem 0;
}

.footerinfo2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    text-transform: capitalize;
}

.footerinfo2 p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.footerinfo2 p i{
    color: red;
}

/* Responsive Design */

@media (max-width: 980px) {
    html {
        font-size: 55%;
    }

    .icoans,
    .icoans .menu {
        display: block;
        z-index: 999;
    }

    .header {
        position: relative;
    }

    .navbar {
        width: 50vw;
        height: 100vh;
        background-color: cyan;
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 0 0 2.5rem 0;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .icoans .cross {
        display: block;
    }

    .active .icoans .menu {
        display: none;
    }

    .home {
        height: auto;
        display: block;
    }

    .home .right h1 {
        font-size: 3.5rem;

    }

    .home .right p {
        font-size: 2rem;
    }


}








@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    /* .home {
        display: block;
    } */


    .home .right h1 {
        font-size: 3.5rem;
    }

    .home .right p {
        font-size: 2rem;
    }

}













@media (max-width: 425px) {
    html {
        font-size: 45%;
    }

    .home {
        display: block;
    }

    .home .right h1 {
        font-size: 3.5rem;
    }

    .home .right p {
        font-size: 2rem;
    }

    .about .about-content {
        display: block;

    }

    .about .about-content .left {
        width: 100%;

    }

    .about .about-content .right {
        width: 100%;
        order: 1;
    }

    .collage {
        display: block;
    }

    .collage-img {
        width: 100%;
    }

    .left-img {
        display: none;
    }

    .contect-content .right-form {
        width: 100%;
    }


}